body {
 background-color: 
}

.circle {
    width: 100px;
    height: 100px;
    background: #EB974E;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    left:50%;
    top:50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;

}

.text_circle {
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -8px;
    margin-left: -29px;
}

.botao_login {
    position: absolute;
    left:50%;
    top: 50%;
    margin-top: 70px;
    margin-left: -15px;
    
}

form {
   
    position: absolute;
    left:50%;
    top: 50%;
    margin-top: 70px;
    margin-left: -30px;
    
  
}


